## ls ##
alias ls='ls --color=auto'
alias ll='ls -la'
alias l.='ls -d .* --color=auto'

## cd ##
alias dl="cd ~/Downloads"
alias rp="cd ~/repository"
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'

## web apps ##
alias wt='function _wt(){ curl wttr.in/$1; };_wt'
alias pubip="curl ifconfig.co/json"
alias cheat='function _cheat(){ curl cheat.sh/$1; };_cheat'
alias cryp='function _cryp(){ curl rate.sx/$1; };_cryp'

## config ##
alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

## ssh ##
alias rpi='ssh ubuntu@192.168.50.233'
alias rpi-shutdown='ssh ubuntu@192.168.50.233 "sudo shutdown now"'
alias laptop='ssh goku@192.168.100.10'
alias office='ssh vegeta@192.168.100.11'
alias xps='ssh vegito@192.168.100.12'

## others ##
alias rm-orphans='sudo pacman -Qtdq | sudo pacman -Rns -'
alias please='sudo $(fc -ln -1)'
alias mirror="sudo reflector -f 30 -l 30 --number 10 --verbose --save /etc/pacman.d/mirrorlist"
alias update-grub="sudo grub-mkconfig -o /boot/grub/grub.cfg"
