alias aliases='function _get_alias(){ grep -r alias ~/.aliases | grep -v \# |  grep alias; };_get_alias'
alias dots='lazygit --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias gdots='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

## mappings ##
alias l='lsd'
alias ls='lsd'
alias lla='lsd -la'
alias ll='lsd -l'
alias l.='lsd -d .* --color=auto'
alias cat='bat'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias nv='nvim'
alias nano='nvim'

## pacman ##
alias pac-orphans='sudo pacman -Qtdq | sudo pacman -Rns -'
alias pac-optional='sudo pacman -Qttdq | sudo pacman -Rns -'
alias pac-find='function _find-pacman(){ pacman -Qi | grep Name | grep $1;};_find-pacman'
alias pac-installed='grep -i installed /var/log/pacman.log'
alias pac-upgraded='grep -i upgraded /var/log/pacman.log'
alias pac-mirrors='sudo reflector --country Germany --latest 10 --protocol https --sort rate --save /etc/pacman.d/mirrorlist'
alias pac-explicit='comm -23 <(paru -Qqett | sort) <(paru -Qqg base-devel | sort | uniq)'
alias pac-aur='sudo pacman -Qqm'

## docker ##
alias docker-start="sudo systemctl start docker"
alias docker-rmct='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'
alias docker-rmimg='docker rmi -f $(docker images -a -q)'

## network ##
alias nebula-start="sudo systemctl start nebula"
alias nbrd-start="sudo systemctl start netbird && netbird up --management-url https://netbird.impossiblecloud.network --admin-url https:://netbird.impossiblecloud.network"
alias nbrd-stop="sudo systemctl disable --now netbird"
alias nmtui="NEWT_COLORS='root=black,black;window=black,black;border=white,black;listbox=white,black;label=blue,black;checkbox=red,black;title=green,black;button=white,red;actsellistbox=white,red;actlistbox=white,gray;compactbutton=white,gray;actcheckbox=white,blue;entry=lightgray,black;textbox=blue,black' nmtui"
alias pubip="curl ifconfig.co/json"

## ssh ##
alias ssh-xps='ssh vegito@192.168.100.2'
alias ssh-office-dell='ssh vegeta@192.168.100.3'
alias ssh-rpi='ssh krillin@192.168.100.4'
alias ssh-desktop='ssh broly@192.168.100.5'
alias ssh-office-laptop='ssh goku@192.168.100.7'
alias ssh-imac='ssh mutenroshi@192.168.100.8'
alias ssh-manu-lenovo='ssh manu@192.168.100.10'
alias ssh-alex-pi='ssh alex@192.168.100.11'
alias ssh-manu-slimbook='ssh manu@192.168.100.13'
alias ssh-manuel='ssh manuel@192.168.100.15'

## utils ##
alias pdf-words='function _count_words(){pdftotext $1 - | wc -w;};_count_words'
alias tex-words='function _count_words(){texcount -inc -total $1;};_count_words'
alias burn-img='function _burn_img(){sudo dd if=$1 of=$2 status=progress; };_burn_img'
alias color-picker='grim -g "$(slurp -p)" -t ppm - | convert - -format "%[pixel:p{0,0}]" txt:-'
alias steam-hdr='ENABLE_HDR_WSI=1 gamescope --fullscreen -w 2560 -h 1440 -r 360 --hdr-enabled --hdr-debug-force-output --hdr-sdr-content-nits 450 --steam -- env ENABLE_GAMESCOPE_WSI=1 DXVK_HDR=1 DISABLE_HDR_WSI=1 steam -bigpicture'
alias kde-launch='/usr/lib/plasma-dbus-run-session-if-needed /usr/bin/startplasma-wayland'
alias notes-push='cd $HOME/repository/notes/ && git add -A && git commit -m "update notes" && git push origin master'
