alias aliases='function _get_alias(){ grep -r alias ~/.aliases | grep -v \# |  grep alias; };_get_alias'
alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

## mappings ##
alias l='lsd'
alias ls='lsd'
alias ll='lsd -la'
alias l.='lsd -d .* --color=auto'
alias cat='bat'
alias dl="cd ~/Downloads"
alias rp="cd ~/repository"
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias kubectl='kubecolor'

## web apps ##
alias wt='function _wt(){ curl wttr.in/$1; };_wt'
alias pubip="curl ifconfig.co/json"
alias cheat='function _cheat(){ curl cheat.sh/$1; };_cheat'
alias cryp='function _cryp(){ curl rate.sx/$1; };_cryp'

## ssh ##
alias ssh-rpi-home='ssh ubuntu@192.168.50.233'
alias ssh-office='ssh vegeta@192.168.100.3'
alias ssh-rpi='ssh ubuntu@192.168.100.4'
alias ssh-manu='ssh manu@192.168.100.10'
alias ssh-alex='ssh alex@192.168.100.11'

## pacman ##
alias pac-orphans='sudo pacman -Qtdq | sudo pacman -Rns -'
alias pac-optional='sudo pacman -Qttdq | sudo pacman -Rns -'
alias pac-find='function _find-pacman(){ pacman -Qi | grep Name | grep $1;};_find-pacman'
alias pac-installed='grep -i installed /var/log/pacman.log'
alias pac-upgraded='grep -i upgraded /var/log/pacman.log'
alias pac-mirrors='sudo reflector --country Germany --latest 10 --protocol https --sort rate --save /etc/pacman.d/mirrorlist'
alias pac-explicit='function _make_explicit(){sudo pacman -D --asexplicit $1;};_make_explicit'
alias pac-aur='sudo pacman -Qqm'

## sway ##
alias sway-appids='swaymsg -t get_tree | grep "app_id"'

## theme ##
alias theme-light="gsettings set org.gnome.desktop.interface gtk-theme adw-gtk3 && gsettings set org.gnome.desktop.interface color-scheme prefer-light && sed -i '95s/.*/colors: *light/' ~/.config/alacritty/alacritty.yml"
alias theme-dark="gsettings set org.gnome.desktop.interface gtk-theme adw-gtk3-dark && gsettings set org.gnome.desktop.interface color-scheme prefer-dark && sed -i '95s/.*/colors: *dark/' ~/.config/alacritty/alacritty.yml"

## docker ##
alias docker-start="sudo systemctl start docker"
alias docker-rmct='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'
alias docker-rmimg='docker rmi -f $(docker images -a -q)'

## network ##
alias nebula-start="sudo systemctl start nebula"
alias vpn-tubs='sudo openconnect --authgroup Tunnel-All-Traffic -u fracarpi vpngate.tu-bs.de'
alias nmap-os='function _nmap_os(){sudo nmap -O $1;};_nmap_os'

## utils ##
alias pdf-words='function _count_words(){pdftotext $1 - | wc -w;};_count_words'
alias tex-words='function _count_words(){texcount -inc -total $1;};_count_words'
alias burn-img='function _burn_img(){sudo dd if=$1 of=$2 status=progress; };_burn_img'

## others ##
alias please='sudo $(fc -ln -1)'
alias gotop='gotop -l procs' 
alias time-sync='sudo ntpd -qg'
