* {
    border: none;
    border-radius: 0;
    font-family: Roboto; 
    font-size: 15px;
    min-height: 30px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
    color: #fdf6e3;
}

#workspaces button {
    padding: 0 20px;
    background: transparent;
    color: #fdf6e3;
    border-top: 1px solid transparent;
}

#workspaces button.focused {
    color: #fdf6e3;
    border-top: 1px solid #fdf6e3;
}

#tray, #language, #pulseaudio, #temperature, #cpu, #memory,#battery, #clock{
    border-top: 1px solid #fdf6e3;
}

#tray {
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

#language{
    padding-left: 7px;
    margin-left: 5px;
    padding-right: 15px;
}

#pulseaudio{
    padding-right: 5px;
    margin-right: 5px;
}

#battery {
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

#temperature{
    padding-left: 7px;
    margin-left: 5px;
    padding-right: 15px;
}

#cpu{
    padding-right: 15px;
}

#memory{
    padding-right: 5px;
    margin-right: 5px;
}

#clock{
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

#temperature.critical {
    color: #ff6347;
}


#battery icon {
    color: #fdf6e3;
}

#battery.warning:not(.charging) {
    color: #ff6347;
} 

#network.disconnected {
    background: #ff6347;
}
