* {
    border: none;
    border-radius: 0;
    font-family: Ubuntu Nerd Font;
    font-size: 15px;
    min-height: 30px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
    color: #fdf6e3;
}

#window {
    font-family: Ubuntu;
    /* margin-top: 5px; */
}

#workspaces button {
    padding: 0 20px;
    background: transparent;
    color: #fdf6e3;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #fdf6e3;
    border-top: 2px solid #fdf6e3;
}

#tray, #temperature, #battery, #cpu, #memory, #network, #pulseaudio, #language {
    padding: 0 10px;
}

#temperature.critical {
    color: #ff6347;
}

#clock {
    padding: 0 5px;
    margin-right: 5px;
}

#battery icon {
    color: #fdf6e3;
}

#battery.warning:not(.charging) {
    color: #ff6347;
} 

#network.disconnected {
    background: #ff6347;
}
