window {
opacity: 1.0;
background-color: #262626;
color: #f2f2f2;
border-radius: 0px;
}

#outer-box {
	margin: 10px;
}

#input {
	border: none;
	background-color: #262626;
	padding: 10px;
}

#inner-box {
	margin: 10px;	
}

#entry:selected {
	background-color: #f2f2f2;
	border-radius: 0px;
	border-style: none;
	box-shadow: none;
	color: black;
}

#text {
	margin-left: 1em;
}

