@define-color bgcolor rgba(0, 0, 0, 1.0); /* black transparent */
@define-color fgcolor #f2f2f2;	/* white */
@define-color secondarycolor #282828; /* dark gray */

window {
	background: @bgcolor;
	color: @fgcolor;
	border-radius: 4px;
	border: 2px solid @secondarycolor;
}

#outer-box {
	margin: 20px;	
}

#input {
	background: @secondarycolor;
	border-radius: 4px;
	border: none;
	padding: 10px;
	margin-bottom: 20px;
}

#input:focus {
	box-shadow: none;
}

#text {
	margin-left: 20px;
}

#entry:selected {
	background-color: @fgcolor;
	border-radius: 0px;
	border-style: none;
	box-shadow: none;
}

#text:selected {
	color: black;
} 
