@define-color bgcolor #000000;
@define-color secondarycolor #1a1a1a;

window {
	background: @bgcolor;
	color: @secondarycolor;
	border-radius: 5px;
	border: 1px solid @secondarycolor;
}

#outer-box {
	margin: 30px;	
}

#input {
	background: @bgcolor;
	border-radius: 3px;
	border: none;
	padding: 10px;
	margin-bottom: 20px;
}

#input:focus {
	box-shadow: none;
}

#text {
	color: white;
	margin-left: 15px;
}


#entry:selected {
	background-color: @secondarycolor;
	color: @secondarycolor;
	border-radius: 3px;
}

#img {
	margin-right: 3px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}


