[Desktop Entry]
Name=Youtube
Exec=angelfish-webapp youtube.desktop
Icon=/home/alarm/.local/share/applications/youtube-icon.png
URL=https://m.youtube.com/
Type=Application
