[Desktop Entry]
Name=YouTube
Exec=firefox --profile /home/alarm/.mozilla/firefox/firefox.default --ssb  https://m.youtube.com/
Terminal=false
Type=Application
Categories=GNOME;GTK;
Icon=/home/alarm/.local/share/applications/youtube-icon.png
